<section class="dark min-h-fit" [ngClass]="{'blur': showInvestmentTable}">
  <div class="section dark:bg-gray-800 h-full dark:text-white">
    <div class="">
      <form class="max-w-xl mx-auto pt-2 px-6 md:px-0" [formGroup]="userFormGroup">
        <h3 class="text-2xl text-center dark:text-white font-bold py-3">
          Plan your finances Easily
        </h3>


        <div class="flex items-center gap-2">
          <input type="date" placeholder="Date Of Birth" formControlName="dateOfBirth" />
          <input type="text" class="text-right" placeholder="Annual Salary" formControlName="salary" />
        </div>

        <div class="flex items-center mt-4">
          <label class="relative inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" formControlName="isPreTax" />
            <div
              class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
            <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Deduct tax</span>
          </label>
          <span class="text-right flex-grow">{{financeObject?.taxObject?.tax | currency : 'INR'}}</span>
        </div>

        <div class="flex items-center mt-4">
          <label class="relative inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" formControlName="adjustForInflation" />
            <div
              class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
            <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Adjust for Inflation</span>
          </label>
        </div>

        <div class="flex items-center mt-4" [ngClass]="{'opacity-60': !this.userFormGroup.value?.isPreTax}">
          <h2 class="text-xl flex-1">EPF Contribution</h2>
          <input type="number" class="text-right flex-1" placeholder="EPF contribution" formControlName="epf" />
        </div>

        <div class="flex items-center mt-4" [ngClass]="{'opacity-60': !this.userFormGroup.value?.isPreTax}">
          <h2 class="text-xl">Total Inhand</h2>
          <p class="flex-grow text-right font-bold"> {{totalInHand | currency : 'INR'}}</p>
        </div>

        <div class="flex items-center mt-4">
          <h2 class="text-xl">Monthly</h2>
          <p class="flex-grow text-right font-bold">
            {{financeObject?.financeObject?.toJSON?.monthly_salary | currency : 'INR'}}
          </p>
        </div>

        <input type="number" class="mt-4" placeholder="Your Retirement Age" formControlName="retireAge" />

        <input type="number" class="mt-4" placeholder="Stop Investment After" formControlName="stopInvestmentAge" />

        <div formGroupName="financialBreakUp">
          <div class="slider mt-4" formGroupName="needs">
            <label>
              <div class="flex items-center">
                <span class="flex-grow">Needs Share ({{financeObject?.financeObject?.needsAmount | currency :
                  'INR'}})</span>
                <input type="checkbox" formControlName="isLocked">
              </div>
              <input type="range" formControlName="amount" [max]="step * 25" [step]="step">
            </label>
            <input type="text" class="mt-2" [value]="financialBreakupFormGroup.getRawValue().needs.amount"
              [disabled]="true" />
          </div>


          <div class="slider mt-4" formGroupName="wants">
            <label>
              <div class="flex items-center">
                <span class="flex-grow">Wants Share ({{financeObject?.financeObject?.wantsAmount | currency :
                  'INR'}})</span>
                <input type="checkbox" formControlName="isLocked">
              </div>
              <input type="range" formControlName="amount" [max]="step * 25" [step]="step">
            </label>
            <input type="text" class="mt-2" [value]="financialBreakupFormGroup.getRawValue().wants.amount"
              [disabled]="true" />
          </div>


          <div class="slider mt-4" formGroupName="investments">
            <label>
              <div class="flex items-center">
                <span class="flex-grow">
                  Investments Share
                  ({{financeObject?.financeObject?.investmentAmount | currency : 'INR'}})
                </span>
                <input type="checkbox" formControlName="isLocked">
              </div>
              <input type="range" formControlName="amount" [max]="step * 25" [step]="step">
            </label>
            <input type="text" class="mt-2" [value]="financialBreakupFormGroup.getRawValue().investments.amount"
              [disabled]="true" />
          </div>
        </div>


        <div class="flex items-center mt-4">
          <h4 class="text-xl">Expenses</h4>
          <p class="text-right flex-grow opacity-70">{{this.financeObject?.financeObject?.monthlyNeedExpense |
            currency}}</p>
        </div>


        <div class="flex items-center mt-4 opacity-70">
          <h4 class="text-xl">Amount left</h4>
          <p class="text-right flex-grow">{{this.financeObject?.financeObject?.needAmountAfterExpense | currency :
            'INR'}}</p>
        </div>


        <div formArrayName="expenses" class="mt-3 flex gap-5 overflow-auto">
          <div *ngFor="let item of expenseFormGroupArray.controls; let i=index">
            <app-expense-card [formGroup]="item"
              (deleteEvent)="removeFormArrayElement(i, 'expenses')"></app-expense-card>
          </div>
          <input type="button" class="border-dashed !bg-transparent border-2 border-gray-700 m-0"
            (click)="addFormArrayElement('expenses')" value="+" />
        </div>

        <div class="flex items-center mt-4">
          <h4 class="text-xl">Goals</h4>
          <p class="text-right flex-grow opacity-70">{{this.financeObject?.financeObject?.monthlyWantExpense |
            currency}}</p>
        </div>


        <div class="flex items-center mt-4 opacity-70">
          <h4 class="text-xl">Amount left</h4>
          <p class="text-right flex-grow">{{this.financeObject?.financeObject?.wantAmountAfterExpense | currency :
            'INR'}}</p>
        </div>


        <div formArrayName="goals" class="mt-3 flex gap-5 overflow-auto">
          <div *ngFor="let item of goalsFormGroup.controls; let i=index">
            <app-goal-card [formGroup]="item" (deleteEvent)="removeFormArrayElement(i, 'goals')"></app-goal-card>
          </div>
          <input type="button" class="border-dashed !bg-transparent border-2 border-gray-700 m-0"
            (click)="addFormArrayElement('goals')" value="+" />
        </div>


        <div class="flex items-center mt-4">
          <h4 class="text-xl">Investments</h4>
          <p class="text-right flex-grow opacity-70">{{this.financeObject?.financeObject?.investmentAmount |
            currency}}</p>
        </div>


        <div class="flex items-center mt-4 opacity-70">
          <h4 class="text-xl">Retirement Amount</h4>
          <div class="ml-3 hover:opacity-100" *ngIf="financeObject?.investmentObject"
            (click)="showInvestmentTable = true">
            <fa-icon [icon]="['fas', 'info-circle']" />
          </div>
          <p class="text-right flex-grow">{{this.financeObject?.investmentObject?.retireAmount| currency : 'INR'}}</p>
        </div>

        <div formArrayName="withdrawals" class="mt-3 flex gap-5 overflow-auto pb-8">
          <div *ngFor="let item of withdrawalsFormGroup.controls; let i=index">
            <app-goal-card [formGroup]="item" (deleteEvent)="removeFormArrayElement(i, 'withdrawals')"></app-goal-card>
          </div>
          <input type="button" class="border-dashed !bg-transparent border-2 border-gray-700 m-0"
            (click)="addFormArrayElement('withdrawals')" value="+" />
        </div>
      </form>

    </div>
  </div>
</section>

<div class="fixed inset-0 grid items-center dark" *ngIf="showInvestmentTable">
  <div class="absolute inset-0">
    <div class="bg-gray-800 opacity-70 w-full h-full"></div>
  </div>
  <div class="absolute top-6 right-6 font-bold text-red-600 cursor-pointer text-2xl"
    (click)="showInvestmentTable = false">
    <fa-icon [icon]="['fas', 'times']" />
  </div>
  <div class="h-[70vh] w-[70vw] max-w-[1280px] min-w-[350px] mx-auto blur-none">
    <div class="flex ml-auto w-fit mb-2 dark:border-gray-400 border-black border">
      <button class="layout-toggle-button" (click)="selectedLayout = 'table'">
        <fa-icon [icon]="['fas', 'table-cells']" />
      </button>
      <button class="layout-toggle-button" (click)="selectedLayout = 'chart'">
        <fa-icon [icon]="['fas', 'chart-line']" />
      </button>
    </div>
    <app-table *ngIf="selectedLayout === 'table'" [investmentobject]="financeObject?.investmentObject"
      (onClose)="showInvestmentTable = false" />
    <app-chart *ngIf="selectedLayout === 'chart'" [investmentObject]="financeObject?.investmentObject" />
  </div>
</div>
<router-outlet></router-outlet>